<h3><%= @flat.name %></h3>
<h4><%= @flat.address %></h4>
<p>Cost: $<%= @flat.price_per_night %></p>
<p>Max number of guests: <%= @flat.number_of_guests %></p>
<p><%= @flat.description %></p>

<%= link_to 'Edit flat', edit_flat_path(@flat) %> | <%= link_to 'Delete flat', flat_path(@flat),
      method: :delete,
      data: { confirm: "Are you sure?" } %> | <%= link_to 'Go back', flats_path %>
