<h3><%= @flat.name %></h3>
<h4><%= @flat.address %></h4>
<p>Cost: $<%= @flat.price_per_night %></p>
<p>Max number of guests: <%= @flat.number_of_guests %></p>
<p><%= @flat.description %></p>

<%= link_to 'Go back', flats_path %>
